<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limo.goldbeans.dao.category.CategoryTaskDao">

    <resultMap id="CategoryTaskMap" type="com.limo.goldbeans.model.category.CategoryTaskModel">
        <id column="task_id" property="taskId" jdbcType="VARCHAR" />
        <result column="category_id" property="categoryId" jdbcType="VARCHAR"/>
        <result column="task_desc" property="taskDesc" jdbcType="VARCHAR"/>
        <result column="task_image" property="taskImage" jdbcType="VARCHAR"/>
        <result column="honor_id" property="honorId" jdbcType="VARCHAR"/>
        <result column="days" property="days" jdbcType="INTEGER"/>
        <result column="point" property="point" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--  插入微信用户数据 -->
    <insert id="insertCategoryTask" parameterType="com.limo.goldbeans.model.category.CategoryTaskModel">
        insert into t_category_task(
            task_id,
            category_id,
            task_desc,
            task_image,
            honor_id,
            days,
            point
        )values(
            #{taskId},
            #{categoryId},
            #{taskDesc},
            #{taskImage}
            #{honorId},
            #{days},
            #{point}
        )
    </insert>

    <!-- 查询CategoryId 关联的Task实体 -->
    <select id="queryCategoryList" parameterType="java.lang.String" resultMap="CategoryMap">
        SELECT
            task_id,
            category_id,
            task_desc,
            task_image,
            honor_id,
            days,
            point,
            gmt_create,
            gmt_modified
        FROM
            t_category_task
        WHERE
            category_id = #{categoryId}
    </select>

</mapper>