<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limo.goldbeans.dao.user.ChildrenDao">

    <resultMap id="ChildrenMap" type="com.limo.goldbeans.model.user.ChildrenModel">
        <id column="children_id" property="childrenId" jdbcType="VARCHAR"/>
        <result column="children_name" property="childrenName" jdbcType="VARCHAR"/>
        <result column="headic" property="headic" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="point" property="point" jdbcType="INTEGER" />
        <result column="vip" property="vip" jdbcType="INTEGER" />
        <result column="location" property="location" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--  插入微信用户数据 -->
    <insert id="insertChildren" parameterType="com.limo.goldbeans.model.user.ChildrenModel">
        insert into t_children(
            children_id,
            children_name,
            headic,
            age,
            point,
            vip,
            location
        )values(
            #{childrenId},
            #{childrenName},
            #{headic},
            #{age},
            #{point},
            #{vip},
            #{location}
        )
    </insert>

    <!-- 查询userId 关联的children实体 -->
    <select id="queryChildrenInfo" parameterType="java.lang.String" resultMap="ChildrenMap">
        SELECT
            children_id,
            children_name,
            headic,
            age,
            point,
            vip,
            location,
            gmt_create,
            gmt_modified
        FROM
            t_children
        WHERE
            children_id = #{childrenId}
    </select>

</mapper>