<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limo.goldbeans.dao.category.HonorDao">

    <resultMap id="HonorMap" type="com.limo.goldbeans.model.category.HonorModel">
        <id column="honor_id" property="honorId" jdbcType="VARCHAR" />
        <result column="honor_name" property="honorName" jdbcType="VARCHAR"/>
        <result column="honor_desc" property="honorDesc" jdbcType="VARCHAR"/>
        <result column="honor_image" property="honorImage" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--  插入微信用户数据 -->
    <insert id="insertHonor" parameterType="com.limo.goldbeans.model.category.CategoryModel">
        insert into t_honor(
            honor_id,
            honor_name,
            honor_desc,
            honor_image
        )values(
            #{honorId},
            #{honorName},
            #{honorDesc},
            #{honorImage}
        )
    </insert>

    <!-- 查询userId 关联的children实体 -->
    <select id="queryHonorList" resultMap="HonorMap">
        SELECT
            honor_id,
            honor_name,
            honor_desc,
            honor_image,
            gmt_create,
            gmt_modified
        FROM
            t_honor
    </select>

    <select id="queryHonorById" resultMap="HonorMap">
        SELECT
            honor_id,
            honor_name,
            honor_desc,
            honor_image,
            gmt_create,
            gmt_modified
        FROM
            t_honor
        WHERE
            honor_id=#{honorId}
    </select>

</mapper>